body {
  margin: 0;
}
.center{
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);  margin: 0;
}

.App-header {
  background: #E4E5D2;
  padding: 50px 20px;
  text-align: center;
} 
.App-header h1 {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  color: #5C2610;
  font-size: 3em;
  font-weight: normal;
  line-height: 1;
  padding: 10px 0;
  margin: 0;
  display: inline-block;
}
.App-header h1:before {
  content: ""; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  height: 200%;
  border-radius: 50%/30%;
  border: 6px solid #5C2610;
  border-left-color: transparent;
  border-right-color: transparent;
}